<br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{randomPictureResult}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Wink Wink</h5>
    <p class="card-text">Hi I am {{name}}, Hit me ?</p>
    <app-like-me (onLikeEvt)="onLikeEvt($event)">
    </app-like-me>
    &nbsp;
    <app-dislike-me (onDisLikeEvt)="onDisLikeEvt($event)">
    </app-dislike-me>
  </div>
</div>
<hr>
Dislike = {{noOfDislike}} -- Like = {{noOflike}}
